@charset "utf-8";
/* CSS Document */
.w-wrap{word-wrap:break-word;}

.main-ct-tp .icon-hm2{background-position:-62px -147px;margin-top:-2px;}
.main-ct{ width:1200px; margin:0 auto;}
.mod-lf-box{float:left;width: 25%;}
.mod-lf-box h3{ padding-left:10px;background-color:#f66d1c; font-weight:bold; font-size:14px; height:35px; line-height:35px; color:#fff; }
.mod-lf-box h4{ padding-left:10px;background-color:#ffe0c4; height:35px; line-height:35px; color:#4c4c4c;font-weight:bold;}
.mod-lf-box h4 .icon-sj-t{margin-top:7px;}
.mod-lf-box-ct ul{width:198px; background-color:#fef7f1; margin:0 auto; margin-bottom:1px; padding:3px 0;}
.mod-lf-box-ct li{ height:24px; line-height:24px; padding-left:15px;}
.mod-lf-box-ct li a{ color:#808080;}
.mod-lf-box-ct .on a{ color:#ffa722;font-weight:bold;}
.modo{background-color:#ffe0c4; float:left;}
.sidebar-left {
    
    width: 27%;
    float: left;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.content-block {
  
    padding: 30px;
}




.mod-rt-box{margin-left:220px;}
/*orderlist*/

.ct-tab1,.ct-tab2{ display:none;}
.on{ display:block;}
.bg-c{background-color:#e7e7e7;}
.bg-c2{background-color:#f5f5f5;}
.bg-y{background-color:#fffcdc;}
.mod-md1{border:1px solid #c2cee5;background-color:#edf3fe; padding:20px; height:110px;}
.mod-md1 .mod-tt,.orderlist-step,.orderlist-step2,.orderlist-step3,.orderlist-step4{background:url(../images/orderlist.png) center 0 no-repeat;}
.mod-md1 .mod-tt{ position:absolute;left:15px;top:-15px;  background-position:0 -156px; height:30px;width:900px;}
.mod-md1 .mod-tt-fr{ background-position:0 -188px;}
.mod-md1 .mod-tt-de{ background-position:0 -221px;}
.mod-md1 .mod-tt-it{ background-position:0 -253px;}
.mod-md1 .mod-tt-es{ background-position:0 -286px;}

.mod-md1 .mod-tt h3{ display:none;}
.mod-md1 .mod-md ul{width:1000px; overflow:hidden;}
.mod-md1 .mod-md li{ float:left; border:1px dashed #c2cee5; background-color:#fff; padding:15px 40px; position:relative;width:375px;margin-right:20px;font-size:12px;}
.mod-md1 .mod-md li .icon-num{ position:absolute;left:-1px;top:-1px; display:inline-block; font-family:Impact; font-size:28px;  color:#fff;}
.mod-md1 .mod-md li .icon-num b{ border:30px solid transparent; border-left-color:#788eb7;border-top-color:#788eb7;width:0; height:0; float:left;}
.mod-md1 .mod-md li .icon-num i{ position:absolute;left:5px;top:0; display:block;font-style:italic;}
.mod-md1 .mod-md li dt{ float:left;width:70px;height:70px; margin-right:25px;}
.mod-md2{ border-left:1px solid #cecece; height:40px; }
.mod-md2 li{ cursor:pointer; float:left; border:1px solid #cecece;background-color:#f5f5f5; height:39px; line-height:39px; padding:0 20px; border-left:0;border-bottom:0;}
.mod-md2 .on{ border-top:2px solid #ffa722;background-color:#fff; font-weight:bold;}
.icon-star-on{ position:absolute;left:0; top:0;}
.icon-star-on .icon-star{background-position:-60px -716px;}
.mod-md3 ul{ height:38px; position:relative; margin-bottom:20px;}
.mod-md3 li{ position:absolute;color:#b2b2b2;width:145px;top:40px; left:50%; text-align:center;}
.mod-md3 .step-li1{margin-left:-469px;}
.mod-md3 .step-li2{margin-left:-203px;}
.mod-md3 .step-li3{margin-left:64px;}
.mod-md3 .step-li4{margin-left:322px;}
.mod-md4{ text-align:left;}
.mod-md4 dt{border:1px solid #f0f0f0;width:106px; height:56px; float:left;text-align:center;}
.mod-md4 dt img{max-width:106px;height:56px;}
.mod-md4 dd{margin-left:115px;}
.mod-md4 dd h4{ height:25px; line-height:25px;}
.mod-md4 dd p{ color:#b3b3b3;}
.orderlist-step .step-li1{ color:#a1cc51;}
.orderlist-step2{background-position:center -38px;}
.orderlist-step2 .step-li1{ color:#a1cc51;}
.orderlist-step2 .step-li2{ color:#a1cc51;}
.orderlist-step3{background-position:center -76px;}
.orderlist-step3 .step-li1{ color:#a1cc51;}
.orderlist-step3 .step-li2{ color:#a1cc51;}
.orderlist-step3 .step-li3{ color:#a1cc51;}
.orderlist-step4{background-position:center -114px;}
.orderlist-step4 .step-li1{ color:#a1cc51;}
.orderlist-step4 .step-li2{ color:#a1cc51;}
.orderlist-step4 .step-li3{ color:#a1cc51;}
.orderlist-step4 .step-li4{ color:#a1cc51;}
.mod-md-page li{ float:left; margin-right:4px;}
.mod-md-page li a{ display:inline-block;width:22px; height:22px; border:1px solid #f5f5f5;color:#b3b3b3; text-align:center; line-height:22px;}
.mod-md-page li .on{color:#fff; border-color:#a1cc51;background-color:#a1cc51;}
.mod-md-page .btn-prev,.mod-md-page .btn-next{width:auto; padding:0 15px;}
.wh3-hover .order-list{width:100px;}
/*My Favorites*/
.mod-md5{ height:40px;}
/*.mod-md5 ul{width:500px;}
.mod-md5 .mod-md-page{width:auto;margin-left:528px;}
.mod-md5 .mod-md-page ul{width:425px; float:left;}*/
.mod-md5 ul{}
.mod-md5 .mod-md-page{ float:right}
.mod-md5 .mod-md-page ul{}
.mod-md5 .mod-md-page li{ padding:0;color:#b3b3b3;}
.mod-md5 li{/*color:#f5f5f5;*/ float:left; padding:0 5px; line-height:20px;}
.mod-md5 .btn-checkall{color:#808080; }
.mod-md5 .btn-checkall input{float:left;margin-right:10px;margin-top:3px;}
.mod-md5 .btn-del,.mod-md5 .btn-addcart{ color:#ffa722;}
.myfavor .icon-jb{background-position:-61px -431px;margin-top:-1px;margin-left:-5px;}
.myfavor .icon-key{background-position:-167px -539px;width:20px; height:20px;margin-top:-1px;margin-left:-5px;}
.myfavor .icon-dj{background-position:-116px -540px;width:20px; height:20px;margin-top:-1px;margin-left:-5px;}


/*My Game Character*/
.mod-md6{}
.mod-md6-tt{ background-color:#e7e7e7; height:44px; line-height:44px; position:relative;}
.mod-md6-tt h3{ padding-left:10px; font-size:16px;}
.mod-md6-tt h3 em{ float:left;width:60px; height:35px; margin-top:4px;}
.mod-md6-tt h3 strong{border-left:1px solid #b3b3b3; padding-left:10px;}
.mod-md6-tt h3 em img{height:35px;width:50px;}
.mod-md6-tt .icon-add{background-position:-935px -226px;width:44px; height:44px;right:0;top:0;position:absolute; float:none;margin-top:0;}
.mod-md6-md-kg .icon-add{background-position:-935px -155px;}
.mod-md6-md{border:1px solid #f5f5f5;}
.mod-md6-md-tt{position:relative;background-color:#f5f5f5;border-bottom:1px solid #fff; height:30px; line-height:30px;}
.mod-md6-md-tt h4{ padding-left:20px; color:#808080;}
.mod-md6-md .icon-sjx-fk{background-position:-167px -217px;margin-top:4px;margin-right:3px;right:0;top:0; position:absolute;}
.mod-md6-md .mod-md6-md-md-kg .icon-sjx-fk{background-position:-166px -257px;}
.mod-md6-md-md{ padding:0 20px 10px 20px;}
.mod-md6-md-md li{ border-bottom:1px dashed #e6e6e6; padding:20px 0; height:40px;}
.mod-md6-md-md .button .icon-ff{margin-top:7px;margin-left:-5px;margin-right:5px;background-position:-220px -293px;}
.add-ct .icon-add{background-position:-168px -151px;margin-top:4px;}

/*Points & Coupons & Gift Card*/
.ct-tab2-ct-tab2{ display:none;}
.on{ display:block;}
.mod-md7{border-bottom:3px solid #ffa722; margin-top:10px; height:40px; line-height:40px;}
.mod-md7 ul{ height:27px; float:left;margin-top:13px;}
.mod-md7 li{ cursor:pointer; float:left; padding:0 30px; margin-right:4px;background-color:#f5f5f5; color:#808080; height:27px; line-height:27px;}
.mod-md7 .on{background-color:#ffa722; color:#fff;font-weight:bold;}
.mod-tt1{ position:absolute;left:20px;top:-10px;background-color:#fff;}
.tr-on-bg-y{background-color:#fffcdc;}
.giftcard .icon-sjx-fk{background-position:-167px -217px;}
.tr-on-bg-y .icon-sjx-fk{background-position:-166px -257px;}
.table-giftcard tbody tr.tr-kg:hover{background-color:#fffcdc;cursor:pointer;}

/*my manager*/
.ct-tab3-ct-tab{ display:none;}
.on{ display:block;}
.mod-md8{ height:100px;}
.mod-md8 dt{width:500px; float:left; color:#b2b2b2;}
.mod-md8 dt b{ color:#808080;}
.mod-md8 .icon-pic{background-position:-535px -5px;width:80px; height:80px;margin-top:0;}
.mod-md8 .icon-yl{background-position:-168px -572px;margin-top:-1px;}
.mod-md8 dd{margin-left:545px;}
.mod-md8 .mod-md8-md dt{width:80px;}
.mod-md8 .mod-md8-md dt a{color:#b2b2b2;}
.mod-md8 .mod-md8-md dd{margin-left:90px;}
.mod-md8 .button{ margin-left:10px; margin-bottom:10px;}
.mod-md8 .button i{ text-align:left;}
.mod-md8 .icon-bianji{background-position:-9px -608px;margin-right:5px;}
.mod-md8 .icon-huihua{background-position:-8px -645px;margin-right:5px;margin-top:7px;}
.mod-md8 .icon-skype{background-position:-9px -677px;margin-right:5px;}
.mod-md8 .icon-heart{background-position:-116px -683px;margin-right:5px;margin-top:7px;}

/*my zhanghu*/
.mod-tt9{ text-align:right; padding:25px 15px; height:50px;}
.mod-tt9 h3{ float:left; text-align:left;}
.mod-tt9 .h3-span-l{ float:left;width:225px; color:#808080;}
.mod-tt9 .h3-span-l p{padding-left:45px;}
.mod-tt9 .icon-yes{width:32px; height:32px;background-position:-766px -90px;margin-top:0;margin-right:10px;}
.mod-tt9 .icon-warn{width:32px; height:32px;background-position:-767px -162px;margin-top:0;margin-right:10px;}
.mod-tt9 .h3-span-l strong{font-size:22px;}
.mod-tt9 .h3-span-r{float:left; height:46px;width:410px;padding-left:20px;border-left:1px solid #e5e5e5;color:#b2b2b2;}
.mod-md9{ padding:20px 40px; border-top:1px solid #e6e6e6;}
.mod-md9 .mod-md-editpwd dl{ padding-bottom:10px; height:32px;}
.mod-md9 .mod-md-editpwd dt{ float:left;width:190px; text-align:right; line-height:30px; overflow:hidden;}
.mod-md9 .mod-md-editpwd dd{margin-left:190px;}
.mod-md9 .pwd-strong span{ float:left;margin-right:10px;background-color:#ccc; color:#fff; line-height:32px;min-width:50px; padding:0 5px; text-align:center;}
.mod-md9 .pwd-strong .on{background-color:#ffa722;}

/*my zhanghu zhiniao*/
.ct-tab4{ display:none;}
.on{display:block;}
.mod-tt10{ text-align:right;border-bottom:1px dashed #e6e6e6; line-height:30px; height:30px;}
.mod-tt10 h3{ float:left; color:#b2b2b2;}
.mod-tt10 h3 strong{ padding-right:10px;font-size:14px;font-weight:bold; color:#4c4c4c;}
.mod-md10{ padding:20px;}
.mod-md10 dl{ line-height:30px;}
.mod-md10 dt{ float:left;width:200px; text-align:right; line-height:30px;}
.mod-md10 dd{ margin-left:200px; line-height:30px; padding-bottom:10px;}
.mod-md10 .bd-line li{ float:left;}
.mod-md10 .user-photo{ position:relative;border:1px dotted #cccccc; width:138px; height:138px;}
.mod-md10 .user-photo a{ display:block;width:138px; height:23px; line-height:23px; text-align:center; position:absolute;bottom:0;left:0; color:#808080; background-color:#d4d4d4;}
.mod-md10 .user-photo img{width:138px; height:138px;}

/* user center */
.mod-rt-box-l{border:1px solid #e6e6e6; float:left;width:678px; padding:20px;background-color:#fff;}
.mod-rt-box-r{border:1px solid #e6e6e6; float:left;margin-left:20px;width:238px;background-color:#fff;}
.mod-md11{color:#b2b2b2;border-bottom:1px solid #e6e6e6; padding-bottom:10px;}
.mod-md11 dt{width:140px; float:left; text-align:center;}
.mod-md11 dt .user-photo{width:138px; height:138px; border:1px dotted #e6e6e6; position:relative;}
.mod-md11 dt .user-photo a{position:absolute;bottom:0;left:0;width:138px; background-color:#d4d4d4; color:#808080; text-align:center; height:25px; line-height:25px;}
.mod-md11 dd{ float:left;margin-left:20px;width:515px; padding-bottom:5px;}
.mod-md11 dd .icon-igv{background-position:-13px -43px;margin-top:0;}
.mod-md11 dd .icon-jb{background-position:-62px -360px;margin-top:0;}
.mod-md11 dd .icon-sj{background-position:-116px -751px;margin-top:0;}
.mod-md11 dd .icon-th{background-position:-114px -186px;margin-top:0}
.mod-md11 dd .icon-xf{background-position:-8px -503px;margin-top:0;width:20px;height:20px;margin-right:0;}
.mod-md11 dd .icon-wh{background-position:-199px -7px;margin-top:0;width:20px; height:20px;margin-right:0;}
.mod-md11 dd .icon-dyj{background-position:-199px -42px;margin-top:0;}
.mod-md11 dd .icon-yes{background-position:-115px -149px;margin-top:0;}
.mod-md11 dd .icon-sj-t{background-position:-9px -395px; position:absolute;bottom:-9px;left:0px;}
.db-line{ float:left;width:510px;}

.db-line li{ float:left; margin-right:5px;}
.db-line li .jdt-per{margin-top:2px; height:12px; float:left;width:138px;border:1px solid #f5f5f5;}
.db-line li .jdt-per-on{height:10px; float:left;background-color:#8fc31f;border:1px solid #fff;}
.user-levle{ z-index:5;}
.down_hover .mod-md18{ display:block;}
.mod-md18{left:-265px;top:25px;}
.mod-md18 tbody tr:hover{background-color:#8fc31f; color:#fff;}
.tips{ position:absolute;left:-95px;bottom:-23px;}
.mod-tt12{ text-align:right;border-bottom:1px solid #e6e6e6; height:40px; line-height:40px;}
.mod-tt12 a{ color:#4c4c4c;}
.mod-tt12 h3{ float:left; height:40px;}
.mod-tt12 h3 strong{ font-size:18px; color:#4c4c4c;}

.mod-md13{ color:#b2b2b2; padding:15px;}
.mod-md13 li .span-pic{ float:left;margin-right:5px;}
.mod-md13 li .span-txt{ float:left;}
.mod-md13 .button-icon .button{ display:block;margin-top:2px;}
.mod-md13 .icon-pic{background-position:-672px -720px;width:64px; height:64px;margin-top:0;}
.mod-md13 .icon-yl{background-position:-168px -572px;margin-top:0;}
.mod-md13 .icon-bianji{background-position:-9px -608px;margin-right:5px;}
.mod-md13 .icon-huihua{background-position:-8px -645px;margin-right:5px;margin-top:7px;}
.mod-md13 .icon-skype{background-position:-9px -677px;margin-right:5px;}
.mod-md13 .icon-heart{background-position:-116px -683px;margin-right:5px;margin-top:7px;}
.mod-md13 .icon-history{background-position:-198px -77px;margin-right:5px;margin-top:5px;}



.mod-tt14{ text-align:right; height:30px; line-height:30px; color:#b2b2b2;}
.mod-tt14 a{ color:#4c4c4c;}
.mod-tt14 h3{ float:left; height:30px;}
.mod-tt14 h3 a{color:#808080;}
.mod-tt14 h3 strong{ padding-right:10px; font-size:18px; color:#4c4c4c;}
.mod-md14{}
.myorder{z-index:5;}
.myorder .icon-jb{background-position:-61px -431px;margin-top:-1px;margin-left:-5px;}
.myorder .icon-key{background-position:-167px -539px;width:20px; height:20px;margin-top:-1px;margin-left:-5px;}
.myorder .icon-dj{background-position:-116px -540px;width:20px; height:20px;margin-top:-1px;margin-left:-5px;}
.myorder .icon-sj-t{ float:left;background-position:-199px -112px;margin-top:0;margin-right:0;}
.down_hover .mod-md19{ display:block;}
.mod-md19{ background-color:#fafafa;left:-640px; position:absolute;top:-25px;}
.mod-md19 .orderlist-step,.mod-md19 .orderlist-step2,.mod-md19 .orderlist-step3,.mod-md19 .orderlist-step4{background:url(../images/myorderlist.png) center 0 no-repeat;}
.mod-md19 ul{ height:38px; position:relative; margin-bottom:20px;}
.mod-md19 li{ position:absolute;color:#b2b2b2;width:125px;top:40px; left:50%; text-align:center;}
.mod-md19 .step-li1{margin-left:-316px;}
.mod-md19 .step-li2{margin-left:-130px;}
.mod-md19 .step-li3{margin-left:35px;}
.mod-md19 .step-li4{margin-left:190px;}
.mod-md19 .orderlist-step .step-li1{ color:#a1cc51;}
.mod-md19 .orderlist-step2{background-position:center -38px;}
.mod-md19 .orderlist-step2 .step-li1{ color:#a1cc51;}
.mod-md19 .orderlist-step2 .step-li2{ color:#a1cc51;}
.mod-md19 .orderlist-step3{background-position:center -76px;}
.mod-md19 .orderlist-step3 .step-li1{ color:#a1cc51;}
.mod-md19 .orderlist-step3 .step-li2{ color:#a1cc51;}
.mod-md19 .orderlist-step3 .step-li3{ color:#a1cc51;}
.mod-md19 .orderlist-step4{background-position:center -114px;}
.mod-md19 .orderlist-step4 .step-li1{ color:#a1cc51;}
.mod-md19 .orderlist-step4 .step-li2{ color:#a1cc51;}
.mod-md19 .orderlist-step4 .step-li3{ color:#a1cc51;}
.mod-md19 .orderlist-step4 .step-li4{ color:#a1cc51;}
.mod-tt15{ height:40px; line-height:40px; color:#b2b2b2;}
.mod-tt15 h3{height:40px;}
.mod-tt15 h3 strong{font-size:18px; color:#4c4c4c;}
.mod-md15{ overflow:hidden;}
.mod-md15 .slid-btn{width:300px;margin-bottom:5px;}
.mod-md15 .slid-btn .button{width:52px;margin-right:10px;}
.mod-md15 .slid-list-box{ height:350px; overflow:hidden;}
.mod-md15 .slid-list{width:218px; float:left;}
.mod-md15 .slid-list img{width:218px; height:258px;}
.mod-md15 .ct-bt{ padding:5px 10px; color:#b2b2b2;}
.mod-md15 .ct-bt .button{ display:block;}
.mod-tt16{ height:30px; line-height:30px;}
.mod-tt16 strong{ font-size:18px;color:#4c4c4c;}
.mod-md16{ padding:10px 20px 0 20px; position:relative;}
.mod-md16 .mod-md16-box{ height:130px;width:636px; overflow:hidden;}
.mod-md16 .btn-prev{ position:absolute;left:50%;top:50px;margin-left:-345px;}
.mod-md16 .btn-next{position:absolute;left:50%;top:50px;margin-left:311px;}
.mod-md16 .icon-pre{width:30px; height:30px;background-position:-774px -301px; cursor:pointer;}
.mod-md16 .icon-next{background-position:-770px -232px;width:30px; height:30px;cursor:pointer;}
.mod-md16 li{ text-align:center; float:left;width:159px;}
.mod-md16 .gm-pic img{width:115px;}
.mod-md16 .gm-nm{ color:#808080;}
.mod-md16 .gm-nm a{ color:#808080;}
.mod-md16 .gm-nm a b{ color:#8fc31f;}
.mod-md16 .gm-price{ color:#ffa722;font-weight:bold;}
.mod-md17{ height:180px; padding:10px 10px 20px 10px; position:relative; overflow:hidden;}
.mod-md17 ul{ height:180px; overflow:hidden;}
.mod-md17 li{height:180px;width:217px;}
.mod-md17 li img{width:217px;}
.mod-md17 .slide-index{ text-align:center; position:absolute;bottom:5px;left:0; height:12px;width:100%;}
.mod-md17 .slide-index span{ text-indent:-100px; overflow:hidden; display:inline-block;width:12px; height:12px; margin:0 5px;  background-color:#b3b3b3; border:none 6px #b3b3b3;-moz-border-radius:6px; -webkit-border-radius: 6px; border-radius: 6px;}
.mod-md17 .slide-index .active{ background-color:#fd9e02;}
/*------------message of the site------------------*/
.w232{width:232px;}
.w303{width:303px;}
.w483{width:483px;}
.h88{height:88px;}
.mod-md20 dl{ line-height:30px;padding:10px 0;}
.mod-md20 dt{ float:left;width:300px; text-align:right; padding-right:5px; }
.mod-md20 dd{margin-left:305px;}