RewriteEngine on
RewriteRule ^inscription register.php [NC,L]
RewriteRule ^connection login.php [NC,L]
RewriteRule ^home index.php [NC,L]
RewriteRule ^profil profil.php [NC,L]
RewriteRule ^changepassword changepw.php [NC,L]
RewriteRule ^commandes mescommandes.php [NC,L]
RewriteRule ^connectiondofus login1c.php [NC,L]
RewriteRule ^dofus comodo.php [NC,L]
RewriteRule ^admincommande coad.php [NC,L]
RewriteRule ^adminusers cous.php [NC,L]
RewriteRule ^RP achatrp.php [NC,L]
RewriteRule ^imprimer imprimer.php [NC,L]
RewriteRule ^connecter-login socon.php [NC,L]
RewriteRule ^games comoga.php [NC,L]
RewriteRule ^commandeRP commanderiot.php [NC,L]
RewriteRule ^loginregister-([0-9]+)-([0-9]+).html   loginorregister.php?serveur=$1&kamas=$2 [L]
RewriteRule ^nouveaux-Dofus-commande-([0-9]+).html  novologin.php?kamas=$1 [L]
RewriteRule ^nouveaux-Dofus-login novolo.php [NC,L]
RewriteRule ^commandeRP commanderiot.php [NC,L]
RewriteRule ^seconnecter-([0-9]+).html   inscrireouconnecter.php?cbrp=$1 [L]
RewriteRule ^CommandeRiotPoint achatrp1.php [NC,L]
RewriteRule ^Dofus-Commande commandedofuss.php [NC,L]